/* styles.css */
.table-products {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-products th, .table-products td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-products th {
    background-color: #f2f2f2;
    color: black;
    text-align: left;
}

.table-products tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-products tr:hover {
    background-color: #eaeaea;
}

.table-products th:first-child, .table-products td:first-child {
    text-align: center;
}
